<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>コメント詳細</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>会員ID</td>
            <td><%= @user.id %></td>
          </tr>
          <tr>
            <td>ニックネーム</td>
            <td><%= @user.nickname %></td>
          </tr>
          <tr>
            <td>コメント</td>
            <td><%= @comment.substance %></td>
          </tr>
        </tbody>
      </table>
      <div><%= link_to "戻る", admin_contribution_path(@contribution.id), class: 'btn-sm btn-success' %></div>
      <div><%= link_to "削除", admin_contribution_path(@contribution.id), class: "btn btn-sm btn-danger destroy_contribution", method: :delete %></div>
    </div>
  </div>
</div>