<div>
  <%= flash[:notice] %>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>投稿詳細</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>ニックネーム</td>
            <td><%= @contribution.user.nickname %></td>
          </tr>
          <tr>
            <td>タグ</td>
            <td>
              <% @contribution.tags.each do |tag| %>
                <%= tag.name %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>ゲームタイトル</td>
            <td><%= @contribution.title %></td>
          </tr>
          <tr>
            <td>投稿内容</td>
            <td><%= @contribution.body %></td>
          </tr>
          <tr>
            <td><%= link_to "削除", admin_contribution_path, class: "btn btn-danger destroy_contribution", method: :delete %></td>
          </tr>
          <tr>
            <td><strong>コメント一覧</strong></td>
          </tr>
          <% @contribution.comments.each do |comment| %>
          <tr>
            <td><%= comment.substance %></td>
            <td><%= link_to "削除", admin_contribution_comment_path(contribution_id: @contribution.id, id: comment.id), class: "btn btn-danger destroy_contribution", method: :delete %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>