<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>投稿詳細</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>タグ</td>
            <td>
              <% @contribution.tags.each do |tag| %>
                <%= tag.name %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>タイトル</td>
            <td><%= @contribution.title %></td>
          </tr>
          <tr>
            <td>投稿内容</td>
            <td><%= @contribution.body %></td>
            <td><%= link_to "削除", admin_contributions_path, class: "btn btn-sm btn-danger destroy_contribution", method: :delete %></td>
          </tr>
          <% @contribution.comments.each do |comment| %>
          <tr>
            <td>コメント</td>
            <td><%= comment.substance %></td>
            <td><%= link_to "詳細", admin_comment_path(comment.id), class: "btn-btn-sm btn-success" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>