<%= render 'list', contributions: @contributions %>
    <div class="col-md-8 offset-md-1">
      <h2>投稿一覧</h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>タグ</th>
            <th>ニックネーム</th>
            <th>コンテンツ名</th>
            <th>本文</th>
          </tr>
        </thead>
        <tbody>
          <% @contributions.each do |contribution| %>
          <tr>
            <td>
              <% contribution.tags.each do |tag| %>
                <%= tag.name %>
              <% end %>
            </td>
            <td>
              <%= link_to user_path(@user.id) do %>
                <%= contribution.user.nickname %>
              <% end %>
            </td>
            <td>
              <%= link_to contribution_path(contribution.id) do %>
                <%= contribution.title %>
              <% end %>
            </td>
            <td><%= contribution.body %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
