<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= form_with(url: search_path, local: true, method: :get, class: "search-form") do |form| %>
        <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
        <%= form.submit "検索", class: "search-btn" %>
      <% end %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2><%= @user.nickname %></h2>
      <table class="table">
        <tbody>
          <tr>
            <td><%= @contribution.genre.name %></td>
          </tr>
          <tr>
            <td><%= @contribution.title %></td>
          </tr>
          <tr>
            <td><%= @contribution.body %></td>
          </tr>
          <tr>
            <% if @contribution.user == current_user %>
              <td><%= link_to "変更", edit_contribution_path(@contribution.id), class: "btn-btn-sm btn-success" %></td>
              <td><%= link_to "削除", contribution_path(@contribution.id), class: "btn btn-sm btn-danger destroy_contribution", method: :delete %></td>
            <% end %>
          </tr>
          <tr>
            <td>
              <% if @contribution.favorited_by?(current_user) %>
                  <%= link_to contribution_favorites_path(@contribution), method: :delete do %>
                    ♥<%= @contribution.favorits.count %> いいね
                  <% end %>
                <% else %>
                  <%= link_to contribution_favorites_path(@contribution), method: :post do %>
                    ♡<%= @contribution.favorits.count %> いいね
                  <% end %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>コメント一覧</td>
            <td>コメント件数：<%= @contribution.comments.count %></td>
          </tr>
          <% @contribution.comments.each do |comment| %>
          <tr>
            <td><%= comment.substance %></td>
            <td>
              <% if comment.user == current_user %>
                <%= link_to "削除", contribution_comment_path(comment.contribution, comment), class: 'btn-sm btn-danger', method: :delete %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <div>
        <%= form_with model: [@contribution, @comment] do |f| %>
          <%= f.text_area :substance, rows: '5', placeholder: "コメントをここに" %>
          <%= f.submit "コメントする" %>
        <% end %>
      </div>
    </div>
  </div>
</div>