<div>
  <%= flash[:notice] %>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2><%= @user.nickname %> のページ</h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>登録情報</th>
            <th>
              <% if @user.email != 'guest@example.com' %>
                <%= link_to "情報を編集する", edit_user_path, class: 'btn-sm btn-success' %>
              <% end %>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>ニックネーム</td>
            <td><%= @user.nickname %></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= @user.email %></td>
          </tr>
          <tr>
            <td>
              <% if @user == current_user %>
                <%= link_to '投稿する', new_contribution_path, class: 'btn-sm btn-primary' %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <%= "フォロー数: #{@user.follower.count}" %>
      <%= "フォロワー数: #{@user.followed.count}" %>

      <% unless @user == current_user %>
        <% if current_user.following?(@user) %>
          <%= link_to 'フォロー外す', unfollow_path(@user.id), class: "btn-sm btn-danger", method: :POST %>
        <% else %>
          <%= link_to 'フォローする', follow_path(@user.id), class: "btn-sm btn-primary", method: :POST %>
        <% end %>
      <% end %>

      <% if @user == current_user %>
        <%= link_to "フォロー詳細", follows_path(@user), class: 'btn-sm btn-success' %>
      <% end %>

      <table class="table table-hover table-inverse">
        <tbody>
        <% @contributions.each do |contribution| %>
          <tr>
            <td>
              <%= link_to contribution_path(contribution.id) do %>
                <%= contribution.title %>
              <% end %>
            </td>
            <td><%= link_to "#{contribution.comments.count} コメント", contribution_path(contribution.id) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>